<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PVMS</display-name>
  <welcome-file-list>
    <welcome-file>/html/index.html</welcome-file>
  </welcome-file-list>
  <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.pvms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassRecoveryController</display-name>
    <servlet-name>PassRecoveryController</servlet-name>
    <servlet-class>com.pvms.controller.PassRecoveryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassRecoveryController</servlet-name>
    <url-pattern>/passrec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateHintQues</display-name>
    <servlet-name>ValidateHintQues</servlet-name>
    <servlet-class>com.pvms.controller.ValidateHintQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateHintQues</servlet-name>
    <url-pattern>/ValidateHintQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.pvms.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>com.pvms.controller.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisaController</display-name>
    <servlet-name>VisaController</servlet-name>
    <servlet-class>com.pvms.controller.VisaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisaController</servlet-name>
    <url-pattern>/VisaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.pvms.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassportController</display-name>
    <servlet-name>PassportController</servlet-name>
    <servlet-class>com.pvms.controller.PassportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassportController</servlet-name>
    <url-pattern>/PassportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lalala</display-name>
    <servlet-name>Lalala</servlet-name>
    <servlet-class>com.pvms.controller.Lalala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lalala</servlet-name>
    <url-pattern>/Lalala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.pvms.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
</web-app>